@import "./layouts/header";
@import "./components/space";
@import "./components/button";
@import "./components/form";
@import "./components/title";

@import "./layouts/page";
@import "./layouts/cards";
@import "./layouts/footer";

@import "./pages/home";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: fit-content;
  width: fit-content;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background-color: #e5e5e5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
