.error-notfound {
  min-height: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-notfound .message {
  display: grid;
  grid-template-columns: 3rem auto;
  gap: 1rem;
  .oops {
    color: #ffb72c;
  }
  .content {
    color: #d2d2d2;
  }
}
