.home-hero-desktop {

  padding: 1rem;
  background-color: white;

  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 536px;

}

.home-hero-desktop .hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-hero-desktop .hero-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-hero-desktop .hero-content .hero-slogan-block {
  .slogan {}

  .description {
    color: white;
  }
}

.home-hero-desktop .hero-content .hero-search-block {
  display: grid;
  grid-template-areas:
    "input input input"
    "select select select";
  grid-template-columns: 1fr 1fr 3rem;
  gap: 0.5rem;
}

.home-hero-desktop .hero-content .hero-search-block .search-input-block {
  grid-area: input;
}


.home-hero-desktop .hero-content .hero-search-block .search-selects-block {
  grid-area: select;
  display: grid;
  grid-template-columns: 1fr 1fr 3rem;
  gap: 0.5rem;
}

.home-hero-desktop .hero-content .hero-search-block .search-selects-block .button.submit {
  width: 3rem;
  height: 3rem;
  background: #FF1D6C;
  color: white;
}