.input {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
  border: none;
  border-radius: 6px;
  outline: none;
  height: 3rem;
}

.select {
  //reset css
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  //reset css

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  outline: none;
  background: url("../icons/dropdown.svg") no-repeat right white;
  padding: 1rem 1rem;
}
